/* styles.css */

/* 重置默认样式 */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* 设置页面背景颜色和字体样式 */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* 头部样式 */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 100px;
    height: auto;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* 主内容区域 */
.content {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

/* 页脚样式 */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}